/* Body */

body {
	background: #F5EFD6;
	color: #333;
	font-size: 100%;
    line-height: 1.5em;
    font-family: Georgia, serif;
	margin: 0px;
	padding: 3em;
	width: 720px;
}

/* Un-reset */

h1, h2, h3, h4 {
  font-family: 'Goudy Bookletter 1911', serif;
}

h1 {
  font-size: 250%;
}
h2 {
  font-size: 150%;
}
h2, h3 {
	margin:1em 0;
}


/* Links & Typography */

a {
	text-decoration: none;
}

a:link, a:active {
	color: #5691CD;
}

a:visited {
	color: #5691CD;
}

a:link:hover, a:active:hover, a:visited:hover {
	text-decoration: underline;
}

a:link:hover, a:active:hover {
	color: #5691CD;
}

a:visited:hover {
	color: #5691CD;
}

a > img {
	margin-bottom: -1px;
}

a.img {
	border: none;
	background: transparent !important;
}

blockquote {
	padding-left: 10px;
	border-left: 3px solid #333;
}

strong, b {
	color: #333;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.post h1 { font-weight: bold; margin: 20px 0 10px; font-size: 150%; }

.post h2 { font-weight: bold; margin: 20px 0 10px; font-size: 140%;}

.post h3 { font-weight: bold; margin: 20px 0 10px; font-size: 130%; }

.post h4 { font-weight: bold; margin: 20px 0 10px; font-size: 100%; }

/* Description */

.blog-description {

}

/* Menu */

#menu {
	margin-top: 3px;
	height: 50px
}

#menu a {
	display: block;
	float: left;
	margin-right: 2em;
	padding-bottom: 2em;
}

#menu a.active {
	border-bottom: 1px solid #ccc
}


/* Post & Page */

.post {
	margin: 0 0 100px;
}

.content {
	clear: both;
	margin: 50px 0 100px 0;
	width: 920px;
}

.archive-content {
	clear: both;
	margin: 50px 0 50px 0;
	width: 920px;
}

.title {
	margin-bottom: 15px
}

.body-post, .body-page {
  font-family: Georgia, serif;
}

.body-post {
	float: left;
	margin-left: 20px;
}

.body-post img {
	border: 10px solid white;
}

.body-page {

}

.body-post img, .body-page img {
	max-width: 760px;
	height: auto;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px
}

.body-post p, .body-page p {
	margin-top: 0;
	width: 500px;
}

.body-post li, .body-page li {
	margin-top: 0;
	width: 500px;
}

.meta {
	width: 110px;
	float: left;
	margin-top: 2px;
	padding: 0;
}

.introduction {
    display: block;
	border-bottom: 1px solid #999;
    padding: 0.3em 0;
    margin-bottom: 0.5em;
	width: 100%;
	margin-right: 85px;
}

ul.tags {
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px 0;
}

  ul.tags li {
    list-style: none;
  }

    ul.tags li a {
      margin: 0 15px 0 0;
      float: left;
      font-size: 12px;
    }

/* Lists */

ul {
	margin: 1em 0;
	padding: 0 0 0 1.25em;
}

ul li {
	list-style-type: square;
	color: #333;
	margin-top: 20px;
	margin-bottom: 0;
}


/* Share buttons */

.share-buttons {
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px 0;
}

.share-buttons > .share-facebook, .share-buttons > .share-twitter, .share-buttons > .share-gplus {
  opacity: .5;
}


.share-buttons:hover > .share-facebook, .share-buttons:hover > .share-twitter, .share-buttons:hover > .share-gplus {
  opacity: 1
}

.share-twitter, .share-gplus {
  float: left;
}
.share-facebook {
  margin-right: 25px;
  float: left;
}

/* Archive */
.archive p {
 margin-left: 150px;
 text-indent: -150px;
 width: 770px;
}
.archive .date {
 float:left;
 width:150px;
}
